footer {
    background: #74C69D;
    display: flex;
    margin-top: 39px;

}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 31px auto;
    gap: 20px;
}

.icon {
    // width: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.finish p{
font-weight: 400;
font-size: 1.25rem;
color: #fff;
}

@media screen and (min-width: 768px) {
    .wrap {
        width: 82%;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px auto;
    }
} 